{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 q-gutter-y-md">
    <q-card v-if="issuer && issuer.id">
      <q-card-section>
        <div class="flex justify-between">
          <div>
            <q-btn
              unelevated
              color="primary"
              label="New POAP"
              @click="formDialog.show = true"
            >
              <q-tooltip> Mint a new POAP </q-tooltip>
            </q-btn>
          </div>
          <div>
            <issuer-details
              :issuer-id="issuer.id"
              :inkey="g.user.wallets[0].inkey"
              :adminkey="g.user.wallets[0].adminkey"
              :show-keys="showKeys"
              @show-keys="toggleIssuerKeys"
              @issuer-deleted="handleIssuerDeleted"
            ></issuer-details>
          </div>
        </div>
      </q-card-section>
      <q-card-section v-if="showKeys">
        <div class="row q-mb-md">
          <div class="col">
            <q-btn
              unelevated
              color="grey"
              outline
              @click="showKeys = false"
              class="float-left"
              >Hide Keys</q-btn
            >
          </div>
        </div>

        <div class="row">
          <div class="col">
            <key-pair
              :public-key="issuer.public_key"
              :private-key="issuer.private_key"
            ></key-pair>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card v-else>
      <q-card-section>
        <span class="text-h4">Welcome to POAP!</span><br />
        POAP is acronym for "Proof of Attendance Protocol". This extension
        allows you to create digital badges (POAPs), which can be claimed by
        your users. You can use POAPs to reward your users for attending an
        event, or for any other reason you can think of (visiting a landmark,
        staying at your hotel, eating in your restaurant, etc...). Bages are
        minted on Nostr, using NIP58, and can then be claimed by users, by
        scanning a QR code! Only requirement is that your users have a Nostr
        public key.
      </q-card-section>
      <q-card-section>
        <span class="text-h4">Terms</span><br />
        <ul>
          <li>
            <span class="text-bold">issuer</span> - creator of the badges with
            NOSTR key-pair
          </li>
          <li>
            <span class="text-bold">user</span> - user that will claim the badge
            with NOSTR key-pair
          </li>
          <li>
            <span class="text-bold">POAP</span> - Nostr badge, minted by issuer
            an claimed by user
          </li>
        </ul>
      </q-card-section>
      <q-card-section>
        <div class="row">
          <div class="col-12">
            <q-btn
              @click="showImportKeysDialog"
              label="Import Key"
              color="primary"
              class="float-left"
            >
              <q-tooltip> Use an existing private key (hex or npub) </q-tooltip>
            </q-btn>
            <q-btn
              label="Generate New Key"
              color="green"
              @click="generateKeys"
              class="float-right"
            >
              <q-tooltip> A new key pair will be generated for you </q-tooltip>
            </q-btn>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">Your POAPs</h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <poap-list
          v-if="poaps && poaps.length > 0"
          :poaps="poaps"
          :pubkey="issuer.public_key"
          @edit-poap="openFormDialog"
        ></poap-list>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">{{SITE_TITLE}} Temp extension</h6>
        <p>
          Simple extension you can use as a base for your own extension. <br />
          Includes very simple LNURL-pay and LNURL-withdraw example.
        </p>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          {% include "poap/_api_docs.html" %}
          <q-separator></q-separator>
          {% include "poap/_poap.html" %}
        </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top" @hide="closeFormDialog">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="createPoap" class="q-gutter-md">
        <lnbits-dynamic-fields
          :options="options"
          v-model="formDialog.data"
        ></lnbits-dynamic-fields>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="!formDialog.data.name || !formDialog.data.image"
            type="submit"
            >Create POAP</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>

  <q-dialog v-model="urlDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-responsive :ratio="1" class="q-mx-xl q-mb-md">
        <lnbits-qrcode :value="urlDialog.data.lnurlpay"></lnbits-qrcode>
      </q-responsive>
      <div class="text-center q-mb-xl">
        <p style="word-break: break-all">
          <strong>${ urlDialog.data.lnurlpay }</strong><br />${
          urlDialog.data.shareUrl }
        </p>
      </div>
      <div class="row q-mt-lg">
        <q-btn
          outline
          color="grey"
          @click="copyText(urlDialog.data.lnurlpay, 'Temp URL copied to clipboard!')"
          >Copy URL</q-btn
        >
        <q-btn v-close-popup flat color="grey" class="q-ml-auto">Close</q-btn>
      </div>
    </q-card>
  </q-dialog>
  <q-dialog v-model="importKeyDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-form @submit="importKeys" class="q-gutter-md">
        <q-input
          filled
          dense
          v-model.trim="importKeyDialog.data.privateKey"
          label="Private Key (hex or nsec)"
        ></q-input>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="!importKeyDialog.data.privateKey"
            type="submit"
            >Import</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script src="{{ url_for('poap_static', path='js/nostr.bundle.js') }}"></script>
<script src="{{ url_for('poap_static', path='js/utils.js') }}"></script>
<script src="{{ url_for('poap_static', path='components/key-pair/key-pair.js') }}"></script>
<script src="{{ url_for('poap_static', path='components/issuer-details/issuer-details.js') }}"></script>
<script src="{{ url_for('poap_static', path='components/poap-list/poap-list.js') }}"></script>
<script src="{{ url_for('poap_static', path='js/index.js') }}"></script>

{% endblock %}
